<div class="container-fluid ">
  <div class="row">
      <div class="col">
          <h1>Crear Peticion</h1>

          <!-- <form [formGroup]="form" method="post" action="route('admin.peticiones.store')" enctype="multipart/form-data" class="row g-3"> -->
          <form [formGroup]="form" (ngSubmit)="submit(form)" enctype="multipart/form-data" class="row g-3">
              <div class="col-md-8">
                  <div class="col-md-8">
                      <label for="validationServer01" class="form-label">Titulo</label>
                      <input type="text" formControlName="titulo" name="titulo" class="form-control  @error('titulo') is-invalid @enderror" id="validationServer01" >
                  </div>
                  <div class="col-md-8">
                      <label for="validationServer01" class="form-label">Descripción</label>
                      <textarea  formControlName="descripcion" name="descripcion" class="form-control @error('descripcion') is-invalid @enderror" id="validationServer01" > </textarea>
                  </div>

                  <div class="form-group">
                      <label for="file">File:</label>
                      <input type="file"
                      id="file"
                      class="form-control"
                      formControlName="file"
                      (change)="onSelectFile($event)"
                      >
                  </div>

                  <div class="col-12">
                      <input [disabled]="!form.valid" value="Enviar petición nueva" type="submit"
                             class="btn btn-primary">
                  </div>
              </div>
          </form>


      </div>  </div>  </div>
